.button {
  position: relative;

  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  @include font(700, 12px, 15px, $font-montserrat);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;

  background-color: $main-accent;

  &:hover {
    background-color: $hover-accent;
  }

  @media #{$tablet-width} {
    left: 50%;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 18px;

    @include font(500, 10px, 12px, $font-montserrat);
    letter-spacing: 2px;

    transform: translateX(-50%);

    &:active {
      background-color: $hover-accent;
    }
  }

  @media #{$mobile-width} {
    width: 288px;
    padding-top: 20px;
    padding-bottom: 18px;
  }
}
