.description {
  position: relative;

  padding-top: 22px;
  padding-bottom: 190px;

  &::before {
    content: "";

    position: absolute;
    top: 179px;
    right: 238px;
    z-index: -2;

    @include size(1444px, 1089px);

    background: #ffffff url("../../img/description-bg-desktop.svg") no-repeat 0 0;
  }


  @media #{$tablet-width} {
    padding-top: 18px;
    padding-bottom: 50px;

    &::before {
      display: none;
    }
  }

  @media #{$mobile-width} {
    padding-top: 15px;
  }
}

.description__container {
  @include container;
}

.description__container > h2 {
  @include visually-hidden;
}
