.header {
  padding-top: 36px;
  padding-bottom: 30px;

  @media #{$tablet-width} {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__container {
  @include container;
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;

  @media #{$tablet-width} {
    position: relative;

    padding-right: 0;
    padding-left: 21px;
  }

  @media #{$mobile-width} {
    padding-left: 0;
  }
}

.header__logo-wrapper {
  margin-right: auto;
  padding-top: 3px;

  @media #{$tablet-width} {
    padding-top: 17px;
  }

  @media #{$mobile-width} {
    padding-left: 16px;
  }
}

.header__logo > img {
  @media #{$tablet-width} {
    @include size(44px, 17px);
  }
}

.header__nav {
  align-items: center;

  @media #{$tablet-width} {
    position: absolute;
    z-index: 1;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 320px;
    min-height: 450px;
    padding-top: 134px;

    background-color: #ffffff;

    &--opened {
      display: flex;
    }

    &--nojs {
      position: relative;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 100%;
      min-height: auto;
      padding-top: 0;
    }
  }

  @media #{$mobile-width} {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 568px;
    padding-top: 134px;

    background-color: #ffffff;

    &--opened {
      display: flex;
    }

    &--nojs {
      position: relative;

      display: flex;
      align-items: flex-end;
      min-width: 100%;
      max-width: 320px;
    }
  }
}

.header__nav--nojs .header__link {
  @media #{$tablet-width} {
    max-width: 240px;
    padding-top: 13px;
    padding-bottom: 10px;

    font-size: 16px;

    background-color: #f9f9f9;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &::after {
      top: 15px;
      right: 16px;
    }
  }

  @media #{$mobile-width} {
    min-width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}

.header__nav--opened ~ .header__burger {
  @media #{$tablet-width} {
    z-index: 2;

    background-color: #ffffff;

    &::before {
      top: 12px;
      left: 23px;

      background-image: url("../../img/icon-close.svg");
    }
  }

  @media #{$mobile-width} {
    &::before {
      top: 13px;
      left: 14px;
    }
  }
}

.header__nav--nojs ~ .header__burger {
  @media #{$tablet-width} {
    display: none;
  }
}

.header__link {
  @include font(500, 14px, 17px, $font-montserrat);
  color: $deep-dark;

  &:hover {
    color: $main-accent;
  }

  &:not(:first-of-type) {
    margin-left: 40px;
  }

  @media #{$tablet-width} {
    position: relative;

    width: 100%;
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 16px;

    @include font(600, 20px, 28px, $font-montserrat);
    color: #48494d;

    background-color: #fbf8f8;

    &:not(:first-of-type) {
      margin-left: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    &::after {
      content: "";

      position: absolute;
      top: 17px;
      right: 16px;

      @include size(25px, 25px);

      background: #fbf8f8 url("../../img/icon-right_arrow.svg") no-repeat 0 0;
    }
  }
}

.header__contacts {
  @media #{$tablet-width} {
    display: none;
  }
}

.header__phone {
  position: relative;

  margin-left: 56px;
  padding-left: 37px;

  @include font(400, 18px, 32px, $font-montserrat);
  color: $main-accent;

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -2px;

    @include size(30px, 30px);

    background: url("../../img/icon-phone.svg") no-repeat 0 0;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: 1px;
    right: 0;

    @include size(83%, 2px);

    background-color: $main-accent;
  }
}

.header__burger {
  display: none;

  @media #{$tablet-width} {
    position: relative;

    display: block;

    @include size(72px, 50px);

    background-color: $main-accent;

    &::before {
      content: "";

      position: absolute;
      top: 10px;
      left: 21px;

      @include size(30px, 30px);

      background: url("../../img/icon-burger.svg") no-repeat 0 0;
    }
  }

  @media #{$mobile-width} {
    @include size(50px, 50px);

    &::before {
      left: 10px;
    }
  }
}
