.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;

  display: none;

  @include size(728px, 444px);

  transform: translate(-50%, -50%);

  &--opened {
    display: flex;
  }

  @media #{$mobile-width} {
    @include size(320px, 568px);
  }
}

.popup__close {
  position: absolute;
  top: 19px;
  right: 20px;

  @include size(22px, 22px);
  padding: 0;

  background: url("../../img/icon-close.svg") no-repeat 0 0;
  border: none;

  cursor: pointer;
}
