.tours {
  @include clear-list;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 65px;

  @media #{$tablet-width} {
    padding-right: 82px;
    padding-left: 80px;
  }

  @media #{$mobile-width} {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.tours__card-inner {
  position: relative;
  top: 0;

  display: flex;
  max-height: 430px;

  overflow: hidden;

  transition: 0.3s;

  &:hover {
    background-color: rgba(20, 21, 23, 0.6);
  }
}

.tours__card-inner:hover .tours__link {
  visibility: visible;
  opacity: 1;
}

.tours__card-inner:hover img {
  transform: scale(1.02);
}

.tours__card {
  position: relative;

  display: flex;

  // Для всех кроме последних трех отступ снизу
  &:not(:nth-last-of-type(-n + 3)) {
    margin-bottom: 101px;
  }

  // Для каждой первой карточки, начиная со второй строки, и для каждой серединной карточки,
  // если она последняя,делает, чтобы они были в центре
  &:nth-of-type(3n + 4),
  &:nth-of-type(3n + 2):last-of-type {
    flex-grow: 1;
    max-width: 525px;
  }

  // Каждую первую карточку прижимает к правому краю от максимальной длины
  &:nth-of-type(3n+1) {
    justify-content: flex-end;
  }

  // Если в ряду оказалось 3 карточки, то убирает у первой занимание свободного места
  // Если в ряду одна карточка, у первой карточки предыдущей строки убирает занимание свободного места
  // Если в ряду две карточки, у первой карточки предыдущей строки убирает занимание свободного места
  &:nth-last-of-type(3n),
  &:nth-last-of-type(3n+4),
  &:nth-last-of-type(3n+5) {
    flex-grow: 0;
  }

  // Последнюю прижимает к левому краю максимальной длины
  &:last-of-type {
    justify-content: flex-start;
  }

  @media #{$tablet-width} {
    // Первым трем изменяет отступ
    &:nth-last-of-type(n + 3) {
      margin-bottom: 15px;
    }

    // Всем, кроме первых 4 добавляет отступ сверху
    &:nth-of-type(n + 5) {
      margin-top: 10px;
    }

    // Для серединной карточки, если она последняя, убирает ограничение по длине,
    // чтобы, если она одна в строке, она была по центру
    &:nth-of-type(3n + 2):last-of-type {
      max-width: none;
      justify-content: center;
    }

    // Отменяет стили для десктопа
    &:nth-of-type(3n + 4) {
      flex-grow: 0;
    }
  }

  @media #{$mobile-width} {
    // Делает, чтобы все были по центру
    // (Первые 2 строки для повышения специфичности)
    &:nth-of-type(3n),
    &:nth-of-type(3n+1),
    & {
      flex-grow: 1;
      justify-content: center;
      max-width: none;
    }

    // Для всех, кроме последней, делает отступ снизу
    &:not(:last-of-type) {
      margin-bottom: 30px;
    }

    // У всех, кроме первых 3, убирает ранее введенный отступ
    &:nth-of-type(n + 4) {
      margin-top: 0;
    }

    // возращает убранные на таблете стили
    &:nth-of-type(3n + 4),
    &:nth-of-type(3n + 2):last-of-type {
      flex-grow: 1;
    }

    // Чтобы все выравнивались по центру
    &:nth-last-of-type(3n + 4) {
      flex-grow: 1;
    }
  }
}

.tours__card img {
  position: relative;
  z-index: -1;

  transition: 0.3s;

  @media #{$tablet-width} {
    @include size(288px, 425px);
  }
}

.tours__link {
  position: absolute;
  top: 155px;
  left: 50%;

  width: 266px;
  padding-top: 31px;
  padding-bottom: 29px;

  visibility: hidden;
  opacity: 0;

  transform: translateX(-50%);
  transition: opacity 0.3s;

  @include font(500, 14px, 17px, $font-montserrat);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.tours__card-inner > p {
  position: absolute;
  right: 50%;
  bottom: 0;

  @include clear-block;
  width: 215px;
  padding-top: 16px;
  padding-bottom: 17px;

  @include font(500, 24px, 29px, $font-montserrat);
  text-align: center;
  color: $dark;

  background-color: #ffffff;

  transform: translateX(50%);

  @media #{$tablet-width} {
    bottom: 5px;

    padding-bottom: 16px;
  }
}
