@mixin font($font-weight, $font-size, $line-height, $font) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font;
}

@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}

@mixin clear-block {
  margin: 0;
  padding: 0;
}

@mixin clear-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin title {
  position: relative;

  @include clear-block;
  @include font(600, 55px, 80px, $font-montserrat);
  color: $dark;

  @media #{$tablet-width} {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
  }

  @media #{$mobile-width} {
    font-size: 24px;
    line-height: 36px;
  }
}

@mixin title-underline {
  position: absolute;

  @include size(175px, 3px);

  background-color: $main-accent;
}

@mixin subtitle {
  @include clear-block;
  @include font(600, 18px, 32px, $font-montserrat);
  color: $dark;
}

@mixin button {
  position: relative;

  display: block;

  @include font(700, 12px, 15px, $font-montserrat);
  text-align: center;

  background-color: $main-accent;

  @media #{$tablet-width} {
    // left: 50%;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 18px;

    @include font(500, 10px, 12px, $font-montserrat);
    letter-spacing: 2px;

    // transform: translate(-50%);
  }

  @media #{$mobile-width} {
    left: 50%;
    width: 288px;
    padding-top: 20px;
    padding-bottom: 18px;

    transform: translateX(-50%);
  }
}

@mixin container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 65px;

  @media #{$tablet-width} {
    padding-left: 0;
  }
}
